{% extends 'layout.html'%}
{% block content %}
    <div class="container">
        <h2>À propos du CAAM</h2>
        <!-- Source: Pixel4k -->
        <img src="/img/kitten.jpeg" alt="Image d'un chaton">
        <div class="row-container">
            <p>Le CAAM a été fondé en 2020 par un groupe de passionnés d'animaux, désireux de faire une différence dans la vie des animaux abandonnés ou maltraités. Face à l'augmentation du nombre d'animaux sans abri dans notre communauté, nous avons décidé d'agir en créant un refuge accueillant pour ces créatures innocentes.</p>
            <p>Depuis notre création, nous avons travaillé sans relâche pour offrir un foyer aimant à autant d'animaux que possible. Grâce à notre dévouement et à l'incroyable soutien de notre communauté, nous avons pu placer des centaines d'animaux dans des foyers aimants, leur offrant ainsi une seconde chance de connaître le bonheur et l'affection qu'ils méritent tant.</p>
        </div>
        <article>
            <h3>Pourquoi choisir le CAAM?</h3>
            <div class="col-container" id="apropos-container">
                <div>
                    <h5>Des animaux bien soignés :</h5>
                    <p>Tous nos animaux sont pris en charge par notre équipe dévouée de professionnels. Ils reçoivent des soins de qualité, une alimentation adaptée et beaucoup d'amour, ce qui leur permet de s'épanouir pleinement avant de trouver leur foyer définitif.</p>
                </div>
                <div>
                    <h5>Adoption responsable :</h5>
                    <p>Nous sommes passionnés par l'adoption responsable et nous nous assurons que chaque animal est placé dans un environnement qui répond à ses besoins spécifiques. Nous sommes également disponibles pour vous fournir des conseils et du soutien à chaque étape de votre parcours d'adoption.</p>
                </div>
                <div>
                    <h5>Vaste choix d'animaux :</h5>
                    <p>Quelle que soit la taille de votre foyer ou vos préférences en matière d'animaux de compagnie, nous avons une variété d'options pour vous. Du doux ronronnement d'un chat câlin à l'énergie débordante d'un chien joueur, vous trouverez votre compagnon idéal parmi nos pensionnaires.</p>
                </div>
                <div>
                    <h5>Adoption humaine :</h5>
                    <p>Chez CAAM, nous comprenons que l'adoption d'un animal est une décision de vie importante. C'est pourquoi nous prenons le temps de vous connaître et de vous présenter des animaux qui correspondent à votre style de vie et à vos besoins.</p>
                </div>
            </div>
        </article>
        <div class="col-container">
            <p>Nous vous invitons à explorer notre site, à découvrir nos adorables pensionnaires en attente d'adoption et à nous rendre visite au centre pour rencontrer nos merveilleux animaux. Ensemble, nous pouvons bâtir un avenir plus radieux pour les animaux de Montréal.<br><br>Merci de soutenir le CAAM et de faire partie de notre mission de changer des vies, une patte à la fois.</p>
        </div>        
    </div>
{% endblock %}