{% extends 'layout.html' %}
{% block style %}
<link rel="stylesheet" href="/css/adoption.css">
{% endblock %}
{% block content %}
    <section id="section-soumission">
        <h2>Félicitations!</h2>
        <div id="message-confirmation">
            <h3>Votre demande est confirmée!</h3>
            <div>
                <p>Nous rechercherons le meilleur foyer pour votre animal.</p>
                <p>Si une personne est intéressée par l'adoption, elle vous contactera directement.</p>
                <p>Merci pour votre générosité et votre compassion envers ces animaux.</p>
            </div>
            <a href="/">
                <span class="page-animal-button">
                    Retourner vers l'accueil
                </span>
            </a>
        </div>
    </section>
{% endblock %}